<div class='container'>
    <div class="row row-content">
        <div class="col-xs-12">
            <div class="carousel slide" data-ride="carousel" id="mycarousel">
                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>

                <!-----wrapper for slides------->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <%= image_tag "img/uthappizza.png",alt:"uthappiza" %>
                        <div class="carousel-caption">
                            <h2>Uthappizza
                                <span class="label label-danger">Hot</span>
                                <span class="badge">$4.99</span>
                            </h2>
                            <p>A unique combination of Indian Uthappam (pancake) and Italian pizza, topped with Cerignola olives, ripe vine cherry tomatoes, Vidalia onion, Guntur chillies and Buffalo Paneer.</p>

                            <%= link_to "More >>","#",class:"btn btn-primary btn-xs" %>

                        </div>
                    </div>

                    <div class="item">
                        <%= image_tag "img/buffet.png",atl:'buffet' %>
                        <div class="carousel-caption">
                            <h2>Weekend Grand Buffet
                                <span class="label label-danger">New</span>
                            </h2>
                            <p>Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers, six main entrees and five choicest desserts. Free flowing bubbly and soft drinks. All for just $19.99 per person
                            </p>
                            <%= link_to "More >>","#",class:"btn btn-primary btn-xs" %>
                        </div>
                    </div>

                    <div class="item">
                        <%= image_tag "img/alberto.png",alt:"alberto" %>
                        <div class="carousel-caption">
                            <h2>Alberto Somayya</h2>
                            <h4>Executive Chef</h4>
                            <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences.
                            </p>
                            <%= link_to "More >>","#",class:"btn btn-primary btn-xs" %>
                        </div>
                    </div>
                </div>
                <!----------Control------------->
                <a href="#mycarousel" class="left carousel-control" data-slide="prev" role="button">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#mycarousel" class="right carousel-control" data-slide="next" role="button">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

    <%= render 'share/orderform' %>
</div>
